*,::after,::before{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}


:root{
  --buttonblue:rgb(76, 155, 194);
  --backgroundblue: #4b9bc3;
  --container: rgb(244, 249, 247);
  --completed: #c9c24b;
  --checkborder: rgb(147, 160, 151);
  --lightblue: #ebfaff;
  --inputborder:rgb(247, 240, 204);

}

body{
  background-color: var(--backgroundblue);
}

.container{
  max-width:700px;
  width:100%;
  background-color:var(--container);
  margin:20px auto;
  padding:15px 45px;
}

.container h1{
  text-transform:uppercase;
  text-align: center;
  color:rgb(81, 85, 77);
}


.txt_container{
  display: flex;
  gap:8px;
  margin:15px 0;
}

.txt_container input{
  flex-grow:1;
  text-align: center;
  color:var(--backgroundblue);
  font-size: 27px;
  font-style: italic;
}

.txt_container input:focus{
  /*border-color:orange !important;*/
}

.txt_container .add_btn{
  padding:20px 25px;
  border:none;
  outline:none;
  background-color: var(--buttonblue);
  color: #fff;
  font-size:24px;
}

.todo_container{
  padding:10px;
  background-color: var(--lightblue);
  display: flex;
  gap:20px;
  align-items: center;
}

.todo_text{
  color:var(--buttonblue);
  flex-grow: 1;
}

.todo_text.checked{
  text-decoration-line: line-through;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgb(123, 134, 159);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.tasks__checked_container {
  margin-top:25px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.delete_checked_btn{
  background-color: var(--buttonblue);
  padding:10px;
  color:#fff;
  border:none;
  flex-grow:1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.edit_container{
  display:flex;
  flex-grow: 1;
  gap: 10px;
}

.edit_container .add_btn,
.edit_container .x_edit{
  padding:10px 15px;
  border:none;
  color:white;
  outline: none;
  background-color:var(--buttonblue);
}

.edit_container .editinput{
  flex-grow: 2;
  border:none;
  background-color: transparent;
  padding:10px;
  outline: none;
  display: block;
  font-size: 18px;
}

.edit_container .x_edit{
  background-color:red;
}

.delete_checked_btn span{
  font-size: 18px;
}

.task_done_container{
  border:1px solid rgb(123, 134, 159);
  padding:10px;
  flex-grow:2;
  text-align: center;
}

.task_done_container{
  position:relative;
}

.status_loader{
  position:absolute;
  background-color: yellow;
  top:0;
  bottom:0;
  left:0;
  z-index: 0;
}

.innertext{
  z-index:10;
  position:relative;
}


.delete_icon, 
.edit_icon{
  cursor: pointer;
}

